In [73]:
import pandas as pd
import numpy as np

In [74]:
df = pd.read_csv('M1-train.csv')
df.head()

,Timestamp,Bearing,BlockRef,CallDistanceAlongRoute,DataFrameRef,DatedVehicleJourneyRef,DestinationName,DestinationRef,DirectionRef,DistanceFromCall,...,ProgressStatus,PublishedLineName,RecordedAtTime,StopPointName,StopPointRef,StopsFromCall,VehicleRef,VisitNumber,DayOfWeek,VehicleDistanceAlongRoute
0,2018-04-06 16:00:01-04:00,233.35362,MTA NYCT_OF_B8-Weekday_C_OF_29220_M1-122,5169.49,2018-04-06,MTA NYCT_OF_B8-Weekday-092900_M1_145,GRAND STREET via 5 AV/BROADWAY,MTA_803192,1,23.58,...,NaN,M1,2018-04-06T16:00:01.000-04:00,5 AV/EAST 90 ST,MTA_400117,0,MTA NYCT_3891,1,5,5145.91
1,2018-04-06 16:00:04-04:00,233.75014,MTA NYCT_OF_B8-Weekday_C_OF_20820_M1-105,8868.91,2018-04-06,MTA NYCT_OF_B8-Weekday-089200_M1_140,GRAND STREET via 5 AV/BROADWAY,MTA_803192,1,77.74,...,NaN,M1,2018-04-06T16:00:04.000-04:00,5 AV/W 45 ST,MTA_405179,0,MTA NYCT_3901,1,5,8791.17
2,2018-04-06 16:00:07-04:00,234.19359,MTA NYCT_OF_B8-Weekday_C_OF_54660_M1-146,6718.93,2018-04-06,MTA NYCT_OF_B8-Weekday-091400_M1_146,E VILLAGE 8 ST via 5 AV,MTA_403793,1,48.54,...,NaN,M1,2018-04-06T16:00:07.000-04:00,5 AV/E 72 ST,MTA_400124,0,MTA NYCT_3898,1,5,6670.39
3,2018-04-06 16:00:08-04:00,234.03671,MTA NYCT_OF_B8-Weekday_C_OF_28980_M7-204,8227.92,2018-04-06,MTA NYCT_OF_B8-Weekday-089800_M7_207,E VILLAGE 8 ST via 5 AV,MTA_403793,1,30.32,...,NaN,M1,2018-04-06T16:00:08.000-04:00,5 AV/W 53 ST,MTA_400514,0,MTA NYCT_3889,1,5,8197.60
4,2018-04-06 16:00:11-04:00,233.93703,MTA NYCT_OF_B8-Weekday_C_OF_18120_M1-102,9554.96,2018-04-06,MTA NYCT_OF_B8-Weekday-088600_M7_225,GRAND STREET via 5 AV/BROADWAY,MTA_803192,1,2.96,...,NaN,M1,2018-04-06T16:00:11.000-04:00,5 AV/W 36 ST,MTA_400323,0,MTA NYCT_3903,1,5,9552.00

In [75]:
df.shape

(12085, 32)

In [76]:
df.columns

Index([u'Timestamp', u'Bearing', u'BlockRef', u'CallDistanceAlongRoute',
       u'DataFrameRef', u'DatedVehicleJourneyRef', u'DestinationName',
       u'DestinationRef', u'DirectionRef', u'DistanceFromCall',
       u'ExpectedArrivalTime', u'ExpectedDepartureTime', u'JourneyPatternRef',
       u'Latitude', u'LineRef', u'Longitude', u'Monitored', u'OperatorRef',
       u'OriginAimedDepartureTime', u'OriginRef', u'PresentableDistance',
       u'ProgressRate', u'ProgressStatus', u'PublishedLineName',
       u'RecordedAtTime', u'StopPointName', u'StopPointRef', u'StopsFromCall',
       u'VehicleRef', u'VisitNumber', u'DayOfWeek',
       u'VehicleDistanceAlongRoute'],
      dtype='object')

In [77]:
df = df[['Timestamp','DatedVehicleJourneyRef', 'ProgressRate', 'StopPointName', 'StopPointRef', 'VehicleRef', 'VehicleDistanceAlongRoute']]

In [78]:
df.head()

,Timestamp,DatedVehicleJourneyRef,ProgressRate,StopPointName,StopPointRef,VehicleRef,VehicleDistanceAlongRoute
0,2018-04-06 16:00:01-04:00,MTA NYCT_OF_B8-Weekday-092900_M1_145,normalProgress,5 AV/EAST 90 ST,MTA_400117,MTA NYCT_3891,5145.91
1,2018-04-06 16:00:04-04:00,MTA NYCT_OF_B8-Weekday-089200_M1_140,normalProgress,5 AV/W 45 ST,MTA_405179,MTA NYCT_3901,8791.17
2,2018-04-06 16:00:07-04:00,MTA NYCT_OF_B8-Weekday-091400_M1_146,normalProgress,5 AV/E 72 ST,MTA_400124,MTA NYCT_3898,6670.39
3,2018-04-06 16:00:08-04:00,MTA NYCT_OF_B8-Weekday-089800_M7_207,normalProgress,5 AV/W 53 ST,MTA_400514,MTA NYCT_3889,8197.60
4,2018-04-06 16:00:11-04:00,MTA NYCT_OF_B8-Weekday-088600_M7_225,normalProgress,5 AV/W 36 ST,MTA_400323,MTA NYCT_3903,9552.00

M1 Bus Stops from: https://bustime.mta.info/m/;jsessionid=BF8A7BE70A434A7BA0468C768AC9E5A7?q=M1#0

In [79]:
stops = pd.read_csv('M1_stops.csv')
stops['StopName'].unique()

array(['5 AV/EAST 94 ST', '5 AV/EAST 92 ST', '5 AV/EAST 90 ST',
       '5 AV/EAST 87 ST', '5 AV/EAST 84 ST', '5 AV/EAST 81 ST',
       '5 AV/EAST 78 ST', '5 AV/EAST 77 ST', '5 AV/EAST 75 ST',
       '5 AV/E 72 ST', '5 AV/E 69 ST', '5 AV/E 65 ST', '5 AV/E 63 ST',
       '5 AV/E 62 ST', '5 AV/W 59 ST', '5 AV/W 53 ST', '5 AV/W 49 ST',
       '5 AV/W 47 ST', '5 AV/W 45 ST', '5 AV/W 42 ST', '5 AV/W 38 ST',
       '5 AV/W 36 ST'], dtype=object)

In [80]:
stops.head()

   StopNum         StopName
0        1  5 AV/EAST 94 ST
1        2  5 AV/EAST 92 ST
2        3  5 AV/EAST 90 ST
3        4  5 AV/EAST 87 ST
4        5  5 AV/EAST 84 ST

In [81]:
#merge stops to df
df = df.merge(stops, left_on='StopPointName', right_on='StopName', how='inner')

In [82]:
#check number of buses in service on route
df.VehicleRef.unique()

array(['MTA NYCT_3891', 'MTA NYCT_3897', 'MTA NYCT_6781', 'MTA NYCT_3838',
       'MTA NYCT_6761', 'MTA NYCT_6779', 'MTA NYCT_6771', 'MTA NYCT_6758',
       'MTA NYCT_6777', 'MTA NYCT_6770', 'MTA NYCT_6768', 'MTA NYCT_3890',
       'MTA NYCT_3831', 'MTA NYCT_3902', 'MTA NYCT_6748', 'MTA NYCT_3837',
       'MTA NYCT_6762', 'MTA NYCT_6749', 'MTA NYCT_6780', 'MTA NYCT_6784',
       'MTA NYCT_3889', 'MTA NYCT_6759', 'MTA NYCT_3903', 'MTA NYCT_3894',
       'MTA NYCT_3834', 'MTA NYCT_6789', 'MTA NYCT_3882', 'MTA NYCT_3881',
       'MTA NYCT_6778', 'MTA NYCT_3900', 'MTA NYCT_3904', 'MTA NYCT_3887',
       'MTA NYCT_6765', 'MTA NYCT_6776', 'MTA NYCT_3886', 'MTA NYCT_3833',
       'MTA NYCT_6767', 'MTA NYCT_6783', 'MTA NYCT_3893', 'MTA NYCT_3829',
       'MTA NYCT_6782', 'MTA NYCT_3888', 'MTA NYCT_6769', 'MTA NYCT_6750',
       'MTA NYCT_6772', 'MTA NYCT_3895', 'MTA NYCT_3896', 'MTA NYCT_3883',
       'MTA NYCT_6752', 'MTA NYCT_3830', 'MTA NYCT_3899', 'MTA NYCT_6766',
       'MTA NYCT_6751', 'MTA NYCT_6764', 'MTA NYCT_6775', 'MTA NYCT_6786',
       'MTA NYCT_3832', 'MTA NYCT_3901', 'MTA NYCT_6774', 'MTA NYCT_3898',
       'MTA NYCT_6773', 'MTA NYCT_6760', 'MTA NYCT_6763', 'MTA NYCT_6757',
       'MTA NYCT_3835', 'MTA NYCT_6787', 'MTA NYCT_3885'], dtype=object)

In [83]:
df['Timestamp'] = pd.to_datetime(df['Timestamp']).dt.tz_localize('UTC').dt.tz_convert('America/New_York')

In [88]:
df['Time'] = df['Timestamp'].dt.strftime("%H:%M:%S")

In [90]:
df['Date'] = df['Timestamp'].dt.date

### Find Link Travel Time between stops

In [92]:
df1 = df.set_index(['VehicleRef','Date', 'Time'])
df1.sort_index(inplace=True)

In [93]:
df1.dtypes

Timestamp                    datetime64[ns, America/New_York]
DatedVehicleJourneyRef                                 object
ProgressRate                                           object
StopPointName                                          object
StopPointRef                                           object
VehicleDistanceAlongRoute                             float64
StopNum                                                 int64
StopName                                               object
dtype: object

In [94]:
dist_df = df1.groupby(['VehicleRef', 'Date'])['VehicleDistanceAlongRoute'].diff().to_frame().reset_index()

In [95]:
time_df = df1.groupby(['VehicleRef', 'Date'])['Timestamp'].diff().to_frame().reset_index()

In [96]:
new_df = pd.merge(dist_df, time_df, on=['VehicleRef','Date','Time'])

In [97]:
new_df.shape

(13325, 5)

In [98]:
new_df.columns = ['VehicleRef', 'Date', 'Time', 'DistanceDelta', 'TimeDelta']

In [99]:
df.head()

,Timestamp,DatedVehicleJourneyRef,ProgressRate,StopPointName,StopPointRef,VehicleRef,VehicleDistanceAlongRoute,StopNum,StopName,Time,Date
0,2018-04-06 16:00:01-04:00,MTA NYCT_OF_B8-Weekday-092900_M1_145,normalProgress,5 AV/EAST 90 ST,MTA_400117,MTA NYCT_3891,5145.91,3,5 AV/EAST 90 ST,16:00:01,2018-04-06
1,2018-04-06 16:06:13-04:00,MTA NYCT_OF_B8-Weekday-093400_M1_149,normalProgress,5 AV/EAST 90 ST,MTA_400117,MTA NYCT_3897,5036.58,3,5 AV/EAST 90 ST,16:06:13,2018-04-06
2,2018-04-06 16:06:44-04:00,MTA NYCT_OF_B8-Weekday-093400_M1_149,normalProgress,5 AV/EAST 90 ST,MTA_400117,MTA NYCT_3897,5070.88,3,5 AV/EAST 90 ST,16:06:44,2018-04-06
3,2018-04-06 16:11:34-04:00,MTA NYCT_OF_B8-Weekday-093900_M1_109,normalProgress,5 AV/EAST 90 ST,MTA_400117,MTA NYCT_6781,5036.58,3,5 AV/EAST 90 ST,16:11:34,2018-04-06
4,2018-04-06 16:15:16-04:00,MTA NYCT_OF_B8-Weekday-094400_M1_142,normalProgress,5 AV/EAST 90 ST,MTA_400117,MTA NYCT_3838,5135.19,3,5 AV/EAST 90 ST,16:15:16,2018-04-06

In [100]:
#remove records where TimeDelta=0 (repeated records)
new_df = new_df[new_df['TimeDelta'] != '0']

In [101]:
#new_df['TimeDelta'] = new_df['TimeDelta'] / np.timedelta64(1, 's')

In [102]:
new_df['LinkSpeed'] = new_df['DistanceDelta'] / (new_df['TimeDelta']/ np.timedelta64(1, 's'))

In [103]:
new_df.head()

,VehicleRef,Date,Time,DistanceDelta,TimeDelta,LinkSpeed
0,MTA NYCT_3829,2018-04-08,16:00:17,NaN,NaT,NaN
1,MTA NYCT_3829,2018-04-08,16:00:48,60.78,00:00:30.866000,1.969157
2,MTA NYCT_3829,2018-04-08,16:01:19,142.79,00:00:31.149000,4.584096
3,MTA NYCT_3829,2018-04-08,16:01:51,15.19,00:00:31.861000,0.476758
4,MTA NYCT_3829,2018-04-08,16:02:22,87.52,00:00:31.519000,2.776738

In [104]:
new_df.dtypes

VehicleRef                object
Date              datetime64[ns]
Time                      object
DistanceDelta            float64
TimeDelta        timedelta64[ns]
LinkSpeed                float64
dtype: object

In [124]:
speed_df = pd.merge(df, new_df, on=['VehicleRef','Time'], how='inner', suffixes=('', '_y'))

In [125]:
speed_df.shape

(13477, 15)

In [126]:
df.shape

(11239, 11)

In [130]:
def divide_two_cols(df_sub):
    return df_sub['DistanceDelta'] / (df_sub['TimeDelta']/ np.timedelta64(1, 's'))

speed_df.groupby(['VehicleRef', 'StopNum']).apply(divide_two_cols)

VehicleRef     StopNum
MTA NYCT_3829  3        111     -0.453563
               4        5913     5.461733
                        5914     0.000000
                        5915     0.000000
                        5916     0.000000
                        5917     0.756784
                        5918     2.773248
               5        4963          NaN
                        5007     9.132231
               6        6561     1.969157
                        6562     4.584096
                        6563     0.476758
                        6599     7.122116
               7        10560    2.776738
                        10561    0.960685
                        10562    0.000000
                        10563    0.000000
                        10564    0.000000
                        10565    0.000000
                        10566    2.744259
                        10567    3.672814
                        10648    4.689409
                        10649   -0.149018
                        10650    4.317539
                        10651    0.000000
                        10652    4.317539
                        10653    0.000000
               8        12125    1.555119
               9        5530     1.293206
                        5551     5.161565
                                   ...
MTA NYCT_6789  16       2684     0.276364
                        2685     0.000000
                        2864     1.348325
                        2865     6.973030
                        2866     0.390000
                        2867     0.669062
                        2868     7.020000
                        2869     2.416774
                        2871     0.057419
               17       8694     5.394375
                        8695     1.664839
                        8696     0.401613
               18       11525    1.615806
                        11526    4.450909
                        11527    1.328710
                        11528    0.000000
                        11529    1.328710
                        11530    0.000000
                        11531    0.112188
               19       758      3.713333
                        759      1.490625
                        760      0.000000
               20       9619     2.980625
                        9620     4.596452
                        9621     0.109394
               21       12926    1.254667
                        12927    4.021875
                        12928    1.560000
                        12929    1.226774
               22       4157     1.589153
Length: 13477, dtype: float64